## LISTAS

In [5]:
numeros = [23,23,23,54,23]
colores = ["Amarillo","Rojo","Azul"]
lista_vacia = []

In [3]:
print(colores)
print(numeros)

['Amarillo', 'Rojo', 'Azul']
[23, 23, 23, 54, 23]

In [6]:
print(type(numeros))
print(type(lista_vacia))

<class 'list'>
<class 'list'>

In [10]:
mi_lista = ["rojo", "amarillo", "verde","morado", "crema","celeste"]

In [11]:
print(mi_lista[3])

morado

In [12]:
print(mi_lista[1:3])

['amarillo', 'verde']

In [13]:
mi_lista.append("blanco")

In [14]:
print(mi_lista)

['rojo', 'amarillo', 'verde', 'morado', 'crema', 'celeste', 'blanco']

In [15]:
mi_lista.insert(3,"negro")

In [16]:
print(mi_lista)

['rojo', 'amarillo', 'verde', 'negro', 'morado', 'crema', 'celeste', 'blanco']

In [17]:
mi_lista.extend(["rosa","gris"])

In [18]:
print(mi_lista)

['rojo', 'amarillo', 'verde', 'negro', 'morado', 'crema', 'celeste', 'blanco', 'rosa', 'gris']

In [19]:
numeros.sort()

In [20]:
print(numeros)

[23, 23, 23, 23, 54]

In [21]:
mi_lista.sort()

In [22]:
print(mi_lista)

['amarillo', 'blanco', 'celeste', 'crema', 'gris', 'morado', 'negro', 'rojo', 'rosa', 'verde']

In [23]:
mi_lista.sort(reverse=True)

In [25]:
print(mi_lista)

['verde', 'rosa', 'rojo', 'negro', 'morado', 'gris', 'crema', 'celeste', 'blanco', 'amarillo']

## TUPLAS

In [26]:
mi_tupla = (2,3,4,5)

In [27]:
print(type(mi_tupla))

<class 'tuple'>

In [28]:
tupla_dias = ("lunes","martes","miercoles","jueves","viernes","sabado","domingo")

In [30]:
'jueves' in tupla_dias

True

In [31]:
tupla_dias[3]

'jueves'

In [32]:
tupla_dias.count("sabado")

1

In [33]:
mi_unitaria = ("blanco",)

In [34]:
print(type(mi_unitaria))

<class 'tuple'>

In [37]:
tupla_dias[1:3]

('martes', 'miercoles')

In [38]:
x=11
y=22
z="henry"

In [39]:
mi_tupla = x,y,z

In [40]:
print(mi_tupla)

(11, 22, 'henry')

In [41]:
print(type(mi_tupla))

<class 'tuple'>

In [42]:
date = (22,'Agosto',1999)

In [43]:
uno,dos,tres =date

In [44]:
print(uno)

22

In [45]:
print(dos)

Agosto

In [46]:
print(tres)

1999

In [47]:
tupla_impares = (1,3,5,7,9)

In [49]:
primero=tupla_impares[0]
segundo = tupla_impares[1]
cuarto = tupla_impares[3]

In [50]:
print(primero)

1

In [51]:
lista_impares = list(tupla_impares)

In [52]:
print(lista_impares)

[1, 3, 5, 7, 9]

In [53]:
print(type(lista_impares))

<class 'list'>

In [54]:
nueva_tupla=tuple(lista_impares)

In [55]:
print(nueva_tupla)

(1, 3, 5, 7, 9)

## DICCIONARIOS

In [56]:
primer_diccionario = dict()

In [57]:
type(primer_diccionario)

dict

In [60]:
primer_diccionario['primero']='uno'

In [61]:
print(primer_diccionario)

{'primero': 'uno'}

In [62]:
primer_diccionario['segundo']='dos'
primer_diccionario['tercero']='tres'

In [63]:
print(primer_diccionario)

{'primero': 'uno', 'segundo': 'dos', 'tercero': 'tres'}

In [64]:
segundo_diccionairio={'cuatro':4,'cinco':5,'seis':6}

In [65]:
print(segundo_diccionairio)

{'cuatro': 4, 'cinco': 5, 'seis': 6}

In [66]:
mi_tupla = ('Argentina','Italia','Inglaterra')

In [67]:
mi_diccionario = {mi_tupla[0]:'Buenos Aires',mi_tupla[1]:'Roma',mi_tupla[2]:'Londres'}

In [68]:
print(mi_diccionario)

{'Argentina': 'Buenos Aires', 'Italia': 'Roma', 'Inglaterra': 'Londres'}

In [70]:
mi_diccionario = {'clave1':'valor 1','clave2':(1,2,3,4,5)}

In [71]:
print(mi_diccionario)

{'clave1': 'valor 1', 'clave2': (1, 2, 3, 4, 5)}

In [72]:
mi_diccionario = {'clave1':'valor 1','clave2':[1,2,3,4,5]}

In [73]:
print(mi_diccionario)

{'clave1': 'valor 1', 'clave2': [1, 2, 3, 4, 5]}

In [74]:
 print(mi_diccionario.keys())

dict_keys(['clave1', 'clave2'])

In [75]:
print(mi_diccionario.values())

dict_values(['valor 1', [1, 2, 3, 4, 5]])